 :root {
  --blue-gray: #627D98;
  --light-gray: #F0F4F8;
  --blue-gray-01: #D9E2EC;
  --blue-gray-02: #BCCCDC;
  --blue-gray-03: #9FB3C8;
  --blue-gray-04: #829AB1;
  --blue-gray-05: #627D98;
  --blue-gray-06: #486581;
  --blue-gray-07: #334E68;
  --blue-gray-08: #243B53;
  --blue-gray-09: #102A43;
}
.navBar{
  background-color: var(--blue-gray-07) !important;
}
.navBar a{
  color: white;
}
.navBar a:hover{
  color: var(--blue-gray-02);
}

.HomePage{
  background-color: var(--blue-gray-09) !important;
}
.carouselRow{
  display: flex;
  justify-content: center;
  margin-top: 2rem !important;
}
.signInPage{
  display: flex;
  justify-content: center;
  background-color: var(--blue-gray-09);
  height: calc(100vh - 78px);
}
.signInContainer{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: fit-content;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 3rem;
  border-radius: 15px;
  padding: 1rem;
  background-color: var(--light-gray);
}
.signInHeader{
  text-align: center;
  font-size: 2rem;
  color: var(--blue-gray-09)
}
.buttonContainer{
  position: relative;
  top:5px;
  left: calc(50% - 37.8px);
}
.submitButton{
  background-color: var(--blue-gray-09) !important;
}
.submitButton:hover{
  background-color: var(--blue-gray-07) !important;
}
.inputSignIn{
  border: none !important;
  padding-left: 0 !important;
  background-color: transparent !important;
  border-bottom: 2px solid var(--blue-gray-09) !important;
  border-radius: 0 !important;
}
.inputSignIn:hover{
  border: none !important;
  border-bottom: 2px solid var(--blue-gray-09) !important;
  border-radius: 0 !important;
}
.inputSignIn:focus{
  box-shadow: none !important;
  border-bottom: 2px solid var(--blue-gray-07) !important;
}
.forgotPasswordContainer{
  text-align: center;
  margin-bottom: 0.5rem;
}
.forgotPassword:hover{
  color: var(--blue-gray-09) !important;
  cursor: pointer;
}
.LandingPageE1{
  height: 25rem;
  text-align: center;
  background-color: #F0F4F8;
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px;
  color:#102A43
}
.LandingPageE1:hover{
  cursor: pointer;
}
.LandingElementsButton{
  margin-top: 1rem;
  text-align: right;
}
.landingETitle{
  color: var(--blue-gray-09);
  margin-bottom: 1rem;
}
.LandingEBtn{
  font-size: 1rem !important;
  background-color: var(--blue-gray-09) !important;
  color: var(--light-gray);
  padding: 0.5rem;
  border-radius: 6px;
}
.LandingEBtn:hover{
  background-color: var(--blue-gray-07) !important;
}
.footer{
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: var(--blue-gray-07);
  color: var(--light-gray);
}
.footer h1{
  margin-top: -10px;
  text-decoration: underline;
  font-size: 3rem;
}
.footerSection{
  margin-top: 1rem;
}
.footerCol{
  margin: 0 1rem 2rem 1rem;
}
.footer a{
  font-size: 1rem;
  color: var(--light-gray);
  text-decoration: none;
}
.footer a:hover{
  color: var(--blue-gray-02);
  text-decoration: none;
}
.slogan{
  display: block;
  color:gold;
}
.copyRight{
  display: block;
}
.footerLeft{
  margin-top: 0.5rem;
}
.logo:hover{
  cursor: pointer;
}
.errorAlert{
  position: absolute;
  z-index: 100;
  margin:0 !important;
  width: 100%;
  text-align: center;
}