:root {
  --blue-gray: #627d98;
  --light-gray: #f0f4f8;
  --blue-gray-01: #d9e2ec;
  --blue-gray-02: #bcccdc;
  --blue-gray-03: #9fb3c8;
  --blue-gray-04: #829ab1;
  --blue-gray-05: #627d98;
  --blue-gray-06: #486581;
  --blue-gray-07: #334e68;
  --blue-gray-08: #243b53;
  --blue-gray-09: #102a43;
}
/* Global Edits */
* {
  font-family: serif !important;
}
body {
  overflow: overlay;
}
.form-label {
  font-size: 1.25rem !important;
}
th {
  color: var(--blue-gray-09);
}
/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input {
  box-shadow: none !important;
}
select {
  box-shadow: none !important;
}
input:focus {
  border-color: var(--blue-gray-07) !important;
}
select:focus {
  border-color: var(--blue-gray-07) !important;
}
select:hover {
  cursor: pointer;
}
option:hover {
  cursor: pointer !important;
  background-color: red !important;
}

/* Specific Edits */

.navBar {
  background-color: var(--blue-gray-07) !important;
  padding: 1rem !important;
}
.dropdown-menu {
  width: fit-content !important;
}
.dropdown-menu a {
  padding: 0.25rem !important;
  width: 10rem !important;
}
.navBar a {
  color: white;
  font-weight: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0.5rem;
  font-size: large;
}
.navBar a:hover {
  color: var(--blue-gray-02);
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.HomePage {
  background-color: var(--blue-gray-09) !important;
}
.carouselRow {
  display: flex;
  justify-content: center;
  margin-top: 2rem !important;
}
.signInPage {
  display: flex;
  justify-content: center;
  background-color: var(--blue-gray-09);
  height: calc(100vh - 78px);
}
.signInContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: fit-content;
  overflow-y: auto;
  overflow-x: hidden;
  /* margin-top: 3rem; */
  margin-top: 15vh;
  border-radius: 15px;
  padding: 1rem;
  background-color: var(--light-gray);
}
.signInHeader {
  text-align: center;
  font-size: 2rem;
  color: var(--blue-gray-09);
}
.buttonContainer {
  position: relative;
  top: 5px;
  left: calc(50% - 37.8px);
}
.submitButton {
  background-color: var(--blue-gray-09) !important;
}
.submitButton:hover {
  background-color: var(--blue-gray-07) !important;
}
.downloadExcel {
  margin: 1rem 0 1rem 0;
}
.inputSignIn {
  border: none !important;
  padding-left: 0 !important;
  background-color: transparent !important;
  border-bottom: 2px solid var(--blue-gray-09) !important;
  border-radius: 0 !important;
}
.inputSignIn:hover {
  border: none !important;
  border-bottom: 2px solid var(--blue-gray-09) !important;
  border-radius: 0 !important;
}
.inputSignIn:focus {
  box-shadow: none !important;
  border-bottom: 2px solid var(--blue-gray-07) !important;
}
.forgotPasswordContainer {
  font-size: larger !important;
  text-align: center;
  margin-bottom: 0.5rem;
}
.signUpLink {
  margin-left: 0.25rem;
}
.forgotPassword:hover {
  color: var(--blue-gray-09) !important;
  cursor: pointer;
}
.LandingPageElements {
  margin-left: 5%;
  margin-right: 5%;
}
.Accordion {
  padding: 1rem 2rem 3rem 2rem !important;
}
.accordion-body a {
  margin-left: 0.25rem !important;
}
.accordion-button {
  background-color: var(--light-gray) !important;
  color: var(--blue-gray-09) !important;
}
.accordion-button:focus {
  border: none !important;
  box-shadow: none !important;
}
.LandingPageE1 {
  height: 25rem;
  text-align: center;
  background-color: #f0f4f8;
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px;
  color: #102a43;
}
.LandingPageE1:hover {
  cursor: pointer;
}
.LandingElementsButton {
  margin-top: 1rem;
  text-align: right;
}
.landingETitle {
  color: var(--blue-gray-09);
  margin-bottom: 1rem;
}
.LandingEBtn {
  font-size: 1rem !important;
  background-color: var(--blue-gray-09) !important;
  color: var(--light-gray);
  padding: 0.5rem;
  border-radius: 6px;
}
.LandingEBtn:hover {
  background-color: var(--blue-gray-07) !important;
}
.footer {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: var(--blue-gray-07);
  color: var(--light-gray);
}
.footer h1 {
  margin-top: -10px;
  text-decoration: underline;
  font-size: 3rem;
}
.footerSection {
  margin-top: 1rem;
}
.footerCol {
  margin: 0 1rem 2rem 1rem;
}
.footer a {
  font-size: 1rem;
  color: var(--light-gray);
  text-decoration: none;
}
.footer a:hover {
  color: var(--blue-gray-02);
  text-decoration: none;
}
.slogan {
  display: block;
  color: gold;
}
.copyRight {
  display: block;
}
.footerLeft {
  margin-top: 0.5rem;
}
.logo:hover {
  cursor: pointer;
}
.errorAlert {
  position: absolute;
  z-index: 100;
  margin: 0 !important;
  width: 100%;
  text-align: center;
}
.loadingScreen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tableAddMoreButton {
  display: flex;
  justify-content: right;
}

.aboutUs {
  height: 100vh;
}
.aboutUs div {
  font-size: large;
}
.aboutUsHeader {
  color: var(--blue-gray-09);
}
.dropdown-menu {
  background-color: var(--blue-gray-07) !important;
  padding: 0 !important;
}
.dropdown-item {
  padding: 0.5rem !important;
}
.dropdown-item:hover {
  background-color: var(--blue-gray-08) !important;
}
.interestCalcPage {
  min-height: 100vh;
}
.lineChartContainer {
  margin-bottom: 1rem !important;
}
.interestDic {
  text-align: center;
}
.titleContainer {
  text-align: center;
  margin: 0.5rem 0 1rem 0;
}
.titleContainer h1 {
  font-size: 3rem;
}
.interestCalcForm {
  background-color: var(--light-gray);
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 0;
}
.interestCalcFormG {
  display: flex;
  min-width: 0;
  justify-content: space-around;
}
.interestCalcFormG * {
  flex: 1 1 0px !important;
}
.interestCalcFormG select {
  width: 100%;
}
.InterestCalcOptions {
  display: flex;
  justify-content: space-evenly;
  padding-top: 0.5rem;
  color: var(--blue-gray-09);
}
.InterestCalcOptions span:hover {
  cursor: pointer;
  color: var(--blue-gray-07);
}
.taxesInTable {
  background-color: palevioletred;
}
.taxesInTable td {
  color: white !important;
  font-weight: bold;
}
.lostAmount {
  background-color: red;
}
.lostAmount td {
  color: white !important;
  font-weight: bold;
}
.gainedAmount {
  background-color: #008000;
}
.gainedAmount td {
  color: white !important;
  font-weight: bold;
}
.InterestCalcLeft {
  border-radius: 1rem;
  background-color: var(--light-gray);
  height: 33rem;
}
.annualResults {
  display: block;
}
.LoanPage {
  min-height: 100vh;
  height: 100%;
}
.loanSummary div {
  margin-top: 0.5rem;
  font-size: 1.25rem;
}
.modal-content {
  background-color: var(--light-gray) !important;
}
.AddModalBody {
  max-height: 25rem;
  height: fit-content;
  overflow-y: auto;
}
.addExpenseInModal {
  display: flex;
}
.interestTable {
  min-height: 33rem;
  max-height: 35rem;
  overflow: auto;
}
.interestTable table {
  height: 33rem;
}
.summaryContainer {
  background-color: var(--blue-gray-08);
  color: var(--light-gray);
  border-radius: 1rem;
  height: 12rem;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}
.summaryContainer div {
  display: flex;
  justify-content: space-between;
  font-size: large;
}
.modalSubmit {
  margin-top: 0.5rem !important;
}
.userTable {
  padding: 0 0.75rem 0 0.75rem !important;
  /* max-height: 20rem; */
  /* overflow-y: auto; */
  max-width: 100%;
  overflow-x: auto;
}
/* .investmentTable{
  max-width: 100%;
  overflow-x: auto;
} */

.dashboardTitle {
  margin: 0.5rem 0 0.5rem 0;
}
.dashboardTitles {
  color: var(--blue-gray-09);
}
.dashboardPage {
  min-height: 100vh;
  height: 100%;
}
.dashboardPage {
  margin: 0 1rem 0 1rem;
}
.actionsTd {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.tableIcon:hover {
  cursor: pointer;
}
.plusCircle {
  margin-right: 1rem;
  margin-top: 0.5rem;
}
.typeaheadMenu {
  background-color: var(--blue-gray-05);
  height: 12rem;
}
.budgetContainer {
  min-height: 100vh;
}
.block {
  background-color: var(--blue-gray-09);
  color: var(--light-gray);
  border-radius: 1rem;
  text-align: center;
  width: 20rem;
  height: 20rem;
  padding: 1rem;
  margin: 2rem;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}
.loanBlock {
  width: 100%;
}
.loanBlock .loanContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.loanContainer + p {
  position: absolute;
  left: 1rem;
  bottom: 3rem;
}
.loanItemCont {
  width: 45%;
}
.loanItem {
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-size: larger;
}
.block .expensesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(20rem - 38px - 38px - 2.5rem);
  overflow-y: overlay;
}
.block .incomesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(20rem - 38px - 38px - 2.5rem);
}
/* .expenseLine{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
/* .expenseItemCont{
  width: 8rem;
} */
.incomeLine {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.budgetRow {
  background-color: var(--blue-gray-07);
  border-radius: 1rem;
  max-height: 50rem;
  overflow: auto;
  overflow: overlay;
  margin: 2rem 0 2rem 0;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.budgetRowTitle {
  margin: 1rem 0 0 0;
}
.addMoreIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.addMoreIcon:hover {
  background-color: var(--blue-gray-08);
}
.addMoreIcon:hover {
  cursor: pointer;
}
.blockIconsCont {
  text-align: center;
  position: absolute;
  bottom: 1rem;
  width: calc(100% - 1rem);
}
.blockIcons {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 1rem);
}
.blockIcon:hover {
  cursor: pointer;
}
.accordion-body h1 {
  color: var(--blue-gray-09);
}
.addNewExpense {
  font-size: large;
}
.modal-title {
  width: 100% !important;
}
.ModalHeaderCont {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: larger;
  font-family: "Courier New", Courier, monospace;
}
.ModalHeaderTitle {
  display: flex;
  align-items: center;
}
.ModalHeaderCont input {
  border: none;
  border-bottom: 2px solid var(--blue-gray-09);
  border-radius: 0;
  background-color: transparent;
  font-size: larger;
  width: fit-content;
}
.ModalHeaderCont input:focus {
  border: none;
  border-bottom: 2px solid var(--blue-gray-09);
  border-radius: 0;
  background-color: transparent;
  font-size: larger;
}
.addNewExpenseRow {
  height: 2.5rem;
  text-align: center;
  font-size: large;
}
.addNewExpenseRow:hover {
  cursor: pointer;
}
.expenseRowDel {
  text-align: center;
  vertical-align: middle;
}
.expensesTableContainer {
  max-height: 12rem;
  overflow-y: auto;
}
.expenseTable {
  width: 100%;
}
.expenseTable td {
  vertical-align: middle;
}
.expenseTitleCell {
  width: 1rem;
}
.expenseBlockTitle {
  word-wrap: break-word;
}
.signoutButton {
  background-color: var(--light-gray) !important;
  color: var(--blue-gray-09) !important;
}
.signoutButton:hover {
  background-color: var(--blue-gray-01) !important;
}
.loanDetailPage div{
  text-align: left;
  margin: 0 1rem 0 1rem;
}
.loanItem{
  margin: 0 !important;
}
.blockLinkCont{
  width: 100%;
  margin-top: 0.5rem;
  text-align: left;
}
.blockLinkCont a{
  color: var(--light-gray);
  text-decoration: none;
}
.blockLinkCont a:hover{
  color: var(--blue-gray-02);
}